.u-section-1 .u-sheet-1 {
  min-height: 618px;
}

.u-section-1 .u-image-1 {
  width: 2019px;
  height: 1025px;
  margin: -407px auto 0 -511px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -614px;
  margin-bottom: 42px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 274px;
  height: 437px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 40px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 174px;
  margin: -36px 0 0 23px;
}

.u-section-1 .u-group-1 {
  width: 446px;
  min-height: 394px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: normal;
  background-image: none;
  font-size: 4.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-line-1 {
  width: 230px;
  transform-origin: left center 0px;
  margin: 74px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-image-1 {
    width: 1328px;
    height: 903px;
    margin-top: -317px;
    margin-left: -292px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -583px;
    margin-bottom: 11px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-left: 0;
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-image-1 {
    width: 979px;
    height: 893px;
    margin-top: -305px;
    margin-left: -156px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -584px;
    margin-bottom: 13px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 360px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
  }

  .u-section-1 .u-line-1 {
    width: 354px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-1 .u-image-1 {
    width: 759px;
    height: 730px;
    margin-top: -346px;
    margin-left: -139px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -380px;
    margin-bottom: 47px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 16px 10px;
  }

  .u-section-1 .u-image-2 {
    width: 169px;
    height: 264px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 15px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -138px;
    margin-left: 180px;
  }

  .u-section-1 .u-group-1 {
    width: 310px;
    min-height: 302px;
    margin-top: -325px;
    margin-right: 33px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -4px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-line-1 {
    width: 91px;
    transform-origin: right center 0px;
    margin-top: 98px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-image-1 {
    width: 482px;
    height: 725px;
    margin-top: -323px;
    margin-left: -92px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -402px;
    margin-bottom: 6px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 3px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -148px;
    margin-right: -91px;
    margin-left: 91px;
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 182px;
    min-height: 214px;
    margin-top: -256px;
    margin-right: -12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 144px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    width: 103px;
    transform-origin: left center 0px;
    margin-top: 20px;
  }
}